.recetas{
    background: #dab997;
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0 0 5rem;
}

@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .recetas{
        flex-direction: column;
        padding: 2rem;
    }
}