.rodapie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem 0 2rem;
}

@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .rodapie{
        flex-direction: column;
        padding: 2rem;
    }
}