.cabecera{
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu__lista{
    display: flex;
}

.menu__lista-item{
    list-style: none;
}

.menu__lista-link{
    color: #808080;
    margin-left: 1.25rem;
    text-decoration: none;
}

.menu__lista-link:hover{
    color: #333333;
    font-size: 1.25rem;
}