.receta{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: calc(33.3333333% - 5rem);
    transition: all 0.5s ease-in-out;
}

.receta:hover{
    font-size: 1.1625rem;
    transform: scale(1.15rem);
}

@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
    .receta{
        width: auto;
    }
}